$footerColor:#304268;
$secondSectionBg: #8ccbea;
$firstSectionBg: #ffffff;
$white: white;
$menuColor:#0271bc;
$titleColor: black;
$textColor: #4a4a4a;
$decorationColor:#f26002;
$titleFont: "Roboto Slab", serif;
$mainFont: "Roboto", sans-serif;





