$footerColor:#304268;
$subtitleColor: #8ccbea;
$secondSectionBg: #ffffff;
$thirdSectionBg:#eff9ff;
$white: white;
$menuColor:#0271bc;
$titleColor: black;
$textColor: #4a4a4a;
$decorationColor:#f26002;
$softDecColor: #f1d9ca;
$titleFont: "Roboto Slab", serif;
$mainFont: "Roboto", sans-serif;
$centralColumnPadding: 0 1.5rem;





