.first__section{
    height: 100vh;
    background-image:url("../images/Copia de cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--title{
        color: $white;
        position: absolute;
        top:0;
        transform: translateY(30.3rem);
        font-family: $titleFont;
        font-size: 4.2rem;
        text-align: center;
        max-width: 730px;
        &::first-line {
            word-spacing: 100vw;
          }
    }
    &--text{
        color: $white;
        position: absolute;
        top:0;
        transform: translateY(42.3rem);
        line-height: 1.9rem;
        font-family: $mainFont;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .scroll{
        position: relative;
        transform: translateY(47.2rem);

    }

    .scroll__icon{
        background-color: $white;
        width: 3.7rem;
        height: 3.79rem;
        padding-left: 1.1rem;
        padding-right:1.01rem;
        padding-top: 1.48rem;
        padding-bottom: 1.26rem;
        border-radius: 50%;
        transition: transform 0.3s ease;
        &:hover{
            transform:scale(1.3);
            background-color: $softDecColor;
        }
        &__link{
            position: absolute;
            top: 0;
            left:0;
           
        }

    }
}





