.header__menu{
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    background-color: $menuColor;
    width: 3.71rem;
    height: 3.71rem;
    padding-left: 1rem;
    padding-right: 1.18rem;
    padding-top: 1.23rem;

    &:hover{
        background-color: $secondSectionBg;
    }
}