<footer class="footer">

    <div class="footer__arrow">
        <a href="pageStart">
          <img src="./images/arrow.svg" alt="Icono inicio página">
        </a>
    </div>

    <div class="footer__info">

      <ul class="footer__list--one">
          <li><a href="#">ARTICLES</a></li>
          <li><a href="#">BOOKS</a></li>
          <li><a href="#">EVENTS</a></li>
          <li><a href="#">REASONS</a></li>
          <li><a href="#">TIPS</a></li>
      </ul>

      <ul class="footer__list--two">
          <li><a href="#">TWITTER</a></li>
          <li><a href="#">INSTAGRAM</a></li>
          <li><a href="#">MASTODON.SOCIAL</a></li>
      </ul>

      <div class="footer__list--three">
         <p class="footer__copy">&copy; 2022</p>
         <p class="footer__text">we <i class="fa-solid fa-heart" style="color: #f26002;"></i> components</p>
      </div>

    </div>



</footer>
