<footer class="footer">

    <div class="footer__arrow">
       <a href="#pageStart" class="animate__animated animate__flash">
          <img src="./images/arrow.svg" alt="Icono inicio página">
       </a>
     </div>

    <div class="footer__info">

      <ul class="footer__list--one">
          <li><a href="https://adalab.es" target="_blank">ARTICLES</a></li>
          <li><a href="https://adalab.es" target="_blank">BOOKS</a></li>
          <li><a href="https://adalab.es" target="_blank">EVENTS</a></li>
          <li><a href="https://adalab.es" target="_blank">REASONS</a></li>
          <li><a href="https://adalab.es" target="_blank">TIPS</a></li>
      </ul>

      <ul class="footer__list--two">
          <li><a href="https://adalab.es" target="_blank">TWITTER</a></li>
          <li><a href="https://adalab.es" target="_blank">INSTAGRAM</a></li>
          <li><a href="https://adalab.es" target="_blank">MASTODON.SOCIAL</a></li>
      </ul>

      <div>
         <p class="footer__copy">&copy; 2022</p>
         <p class="footer__text">we <i class="fa-solid fa-heart" style="color: #f26002;"></i> components</p>
      </div>

    </div>



</footer>
