<section class="third__section">

    <h2 class="third__section--title" id="reasons">3 Reasons To Purchase</h2>

    <load src="/partials/articles.html"
    postTitle="Ud sed metus"
    postText="Lorem ipsum dolor sit amet, consectetur."/>

    <load src="/partials/articles.html"
    postTitle="Curabitur ac erat"
    postText="Mauris mattis urna quis lorem molestie."/>

    <load src="/partials/articles.html"
    postTitle="Morbi dictum"
    postText="Aliquam in dolor et dolor tinccidunt "/>
    
    <div class="third__section--container">
     <a class="third__section--link" href="https://adalab.es" target="_blank">More reasons</a>
    </div>
</section>